In [34]:
def tri_recursion(k):
    print(f'Entering k={k}')
    if k>0:
        result = k + tri_recursion(k-1)
        print(f'Returning from k={k} with result={result}')
    else:
        result = 0
        print(f'Base case reached at k={k}')
    return result

print('Recursion Example Result:')
tri_recursion(5)

Recursion Example Result:
Entering k=5
Entering k=4
Entering k=3
Entering k=2
Entering k=1
Entering k=0
Base case reached at k=0
Returning from k=1 with result=1
Returning from k=2 with result=3
Returning from k=3 with result=6
Returning from k=4 with result=10
Returning from k=5 with result=15

15

In [40]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)

factorial(4)

24

In [58]:
def countdown(n):
    if n>0:
        print(n)
    else:
        return 0
    return countdown(n-1)

countdown(5)

5
4
3
2
1

0

In [70]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else: 
        return fibonacci(n-1) + fibonacci(n-2)

fibonacci(8)

21

In [100]:
def reverse_string(s):
    if len(s) <= 1:
        return s
    else: 
        return reverse_string(s[1:]) + s[0]

reverse_string('dog')

'god'

In [110]:
def product(lst):
    if len(lst) == 0:
        return 1
    else: 
        return lst[0]*product(lst[1:])

product([1,2,3,4])

24

In [120]:
def sum_even(lst):
    if len(lst) == 0:
        return 0
    elif lst[0] % 2 == 0:
        return lst[0] + sum_even(lst[1:])
    else: 
        return sum_even(lst[1:])

sum_even([1,3,2,5,6)

2

In [16]:
def find_max(lst):
    if len(lst) == 1:
        return lst[0]
    else:
        max_rest = find_max(lst[1:])
        return lst[0] if lst[0] > max_rest else max_rest
        
find_max([1,2,3,5,4])

5

In [182]:
def fizzBuzz(input):
    if input%15 == 0:
        return 'FizzBuzz'
    elif input%5 == 0:
        return 'Buzz'
    elif input%3==0:
        return 'Fizz'
    else:
        return input

fizzBuzz(7)

7

In [214]:
def fibonacci(idx):
    seq = [0,1]
    for i in range(idx):
        seq.append(seq[-1]+seq[-2])
    return seq[-2]

fibonacci(2)

1