In [4]:
students = [
    {'name': 'Charlie', 'gpa': 3.8, 'major': 'Physics'},
    {'name': 'Alice', 'gpa': 3.6, 'major': 'Math'},
    {'name': 'Bob', 'gpa': 3.9, 'major': 'CS'},
    {'name': 'Diana', 'gpa': 4.0, 'major': 'CS'},
    {'name': 'Ethan', 'gpa': 3.5, 'major': 'CS'}
]

major_priority = {
    'CS': 0,
    'Math': 1,
    'Physics': 2
}

def sortStudents(student):
    return (major_priority[student['major']], -student['gpa'], student['name'])

students.sort(key=sortStudents)
# print(students)
name_of_students = [student['name'] for student in students]
print(name_of_students)

['Diana', 'Bob', 'Ethan', 'Alice', 'Charlie']

In [6]:
employees = [
    {'name': 'Hannah', 'salary': 95000, 'department': 'Sales'},
    {'name': 'Tom', 'salary': 120000, 'department': 'Engineering'},
    {'name': 'Lucy', 'salary': 105000, 'department': 'Engineering'},
    {'name': 'Raj', 'salary': 97000, 'department': 'Marketing'},
    {'name': 'Maya', 'salary': 99000, 'department': 'Sales'}
]

dept_priority = {
    'Engineering': 0,
    'Sales': 1,
    'Marketing': 2
}

def sortEmployees(employee):
    return (dept_priority[employee['department']], -employee['salary'], employee['name'])

employee_names = [employee['name']for employee in sorted(employees, key=sortEmployees)] 
print(employee_names)

['Tom', 'Lucy', 'Maya', 'Hannah', 'Raj']

In [12]:
employees = [
    {'name': 'Elia', 'salary': 120000, 'department': 'Engineering'},
    {'name': 'Ben', 'salary': 85000, 'department': 'Sales'},
    {'name': 'Zoe', 'salary': 135000, 'department': 'Engineering'},
    {'name': 'Ivy', 'salary': 70000, 'department': 'HR'},
    {'name': 'Max', 'salary': 95000, 'department': 'Sales'},
    {'name': 'Liam', 'salary': 110000, 'department': 'Engineering'}
]

dept_priority = {
    'Engineering': 0,
    'Sales': 1,
    'HR': 2
}

def sortEmployees(employee):
    return (dept_priority[employee['department']], -employee['salary'], employee['name'])

employee_names = [employee['name'] for employee in sorted(employees, key=sortEmployees) if employee['salary']>90000]
print(employee_names)

['Zoe', 'Elia', 'Liam', 'Max']

In [40]:
employees = [
    {'name': 'Ella', 'salary': 120000, 'department': 'Engineering'},
    {'name': 'Ben', 'salary': 85000, 'department': 'Sales'},
    {'name': 'Zoe', 'salary': 135000, 'department': 'Engineering'},
    {'name': 'Ivy', 'salary': 70000, 'department': 'HR'},
    {'name': 'Max', 'salary': 95000, 'department': 'Sales'},
    {'name': 'Liam', 'salary': 110000, 'department': 'Engineering'}
]

departments = set(employee['department'] for employee in employees)
print(departments)
number_of_departments = {dept: len([employee for employee in employees if employee['department'] == dept]) for dept in sorted(departments)}
print(number_of_departments)

{'HR', 'Engineering', 'Sales'}
{'Engineering': 3, 'HR': 1, 'Sales': 2}

In [44]:
employees = [
    {'name': 'Ella', 'salary': 120000, 'department': 'Engineering'},
    {'name': 'Ben', 'salary': 85000, 'department': 'Sales'},
    {'name': 'Zoe', 'salary': 135000, 'department': 'Engineering'},
    {'name': 'Ivy', 'salary': 70000, 'department': 'HR'},
    {'name': 'Max', 'salary': 95000, 'department': 'Sales'},
    {'name': 'Liam', 'salary': 110000, 'department': 'Engineering'}
]

number_of_departments = {dept: 
                         len([employee for employee in employees if employee['department'] == dept]) 
                         for dept in set(employee['department'] for employee in employees)}
print(number_of_departments)

{'HR': 1, 'Engineering': 3, 'Sales': 2}