In [74]:
my_list = ['apple', 'banana', 'cherry']
print(type(my_list))
print(my_list)
my_list[:3] = ['alight']
print(my_list)
my_list.insert(1, 'watermelon')
print(my_list)

this_is_tuple = ('apple', 'banana', 'cherry', 'date', 'enamel')
my_list.extend(this_is_tuple)
print(my_list)
thisDictionary = {
    'one': 1,
    'two': 2,
    'three': 3
}
my_list.extend(thisDictionary)
print(my_list)
my_list.pop(4)
print(my_list)
my_list.pop()
print(my_list)
del my_list[0]
print(my_list)


i=0
while i<len(my_list):
    print(my_list[i])
    i+=1

<class 'list'>
['apple', 'banana', 'cherry']
['alight']
['alight', 'watermelon']
['alight', 'watermelon', 'apple', 'banana', 'cherry', 'date', 'enamel']
['alight', 'watermelon', 'apple', 'banana', 'cherry', 'date', 'enamel', 'one', 'two', 'three']
['alight', 'watermelon', 'apple', 'banana', 'date', 'enamel', 'one', 'two', 'three']
['alight', 'watermelon', 'apple', 'banana', 'date', 'enamel', 'one', 'two']
['watermelon', 'apple', 'banana', 'date', 'enamel', 'one', 'two']
watermelon
apple
banana
date
enamel
one
two

[None, None, None, None, None, None, None]

In [92]:
myList = ['apples', 'kiwis', 'bananas', 'mangos', 'cherries']
newList = [x for x in myList if 'a' in x]
print(newList)
newList = [x for x in myList]
print(newList)
newList = [x if x != 'kiwis' else 'watermelons' for x in myList]
print(newList)
newList.sort(reverse=True)
print(newList)

['apples', 'bananas', 'mangos']
['apples', 'kiwis', 'bananas', 'mangos', 'cherries']
['apples', 'watermelons', 'bananas', 'mangos', 'cherries']
['watermelons', 'mangos', 'cherries', 'bananas', 'apples']

In [96]:
numbers = [95, 200, 150, 90, 50, 105]

def myFunc(n):
    return abs(n-100)

numbers.sort(key=myFunc)
print(numbers)

[95, 105, 90, 150, 50, 200]

In [106]:
fruits = ['watermelon', 'kiwi', 'mango', 'apple']

def myFunc(n):
    return len(n)

fruits.sort(key=myFunc)
print(fruits)

def my_func(n):
    return n[-1]

fruits.sort(key=my_func)
print(fruits)

numbers = [-10, 20, 15, -3, 3, -20]

def anotFunc(n):
    return (abs(n), n<0)

numbers.sort(key=anotFunc)
print(numbers)

['kiwi', 'mango', 'apple', 'watermelon']
['apple', 'kiwi', 'watermelon', 'mango']
[3, -3, -10, 15, 20, -20]

In [144]:
names = [
    "Alice Johnson",
    "Bob Smith",
    "Charlie Brown",
    "Diana Prince",
    "Eve Davis",
    "Frank Miller"
]

def myFunc(n):
    return n.split()[-1]

names.sort(key=myFunc)
print(names)

['Charlie Brown', 'Eve Davis', 'Alice Johnson', 'Frank Miller', 'Diana Prince', 'Bob Smith']

In [158]:
cities = [
    "New York",
    "Tokyo",
    "Amsterdam",
    "Delhi",
    "San Francisco",
    "Oslo"
]

def myFunc(city):
    return len(city)

cities.sort(key=myFunc)
print(cities)

def numberOfWords(city):
    return (len(city.split()), city)

cities.sort(key=numberOfWords)
print(cities)

['Oslo', 'Tokyo', 'Delhi', 'New York', 'Amsterdam', 'San Francisco']
['Amsterdam', 'Delhi', 'Oslo', 'Tokyo', 'New York', 'San Francisco']

In [194]:
people = [
    {'name': 'Bob', 'age': 25},
    {'name': 'Charlie', 'age': 25},
    {'name': 'Alice', 'age': 30},
    {'name': 'Eve', 'age': 30},
    {'name': 'Diana', 'age': 35}
]

def func(person):
    return (person['age'], person['name'])

people.sort(key=func)
print(people)

[{'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 25}, {'name': 'Alice', 'age': 30}, {'name': 'Eve', 'age': 30}, {'name': 'Diana', 'age': 35}]

In [206]:
products = [
    {'name': 'Laptop', 'price': 1200, 'rating': 4.5},
    {'name': 'Smartphone', 'price': 800, 'rating': 4.7},
    {'name': 'Tablet', 'price': 600, 'rating': 4.3},
    {'name': 'Monitor', 'price': 300, 'rating': 4.5},
    {'name': 'Keyboard', 'price': 100, 'rating': 4.2}
]

def myFunc(product):
    return (-product['rating'], product['price'])

products.sort(key=myFunc)
print(products)

[{'name': 'Smartphone', 'price': 800, 'rating': 4.7}, {'name': 'Monitor', 'price': 300, 'rating': 4.5}, {'name': 'Laptop', 'price': 1200, 'rating': 4.5}, {'name': 'Tablet', 'price': 600, 'rating': 4.3}, {'name': 'Keyboard', 'price': 100, 'rating': 4.2}]

In [210]:
books = [
    {'title': 'The Hobbit', 'author': 'Tolkien', 'year': 1937},
    {'title': '1984', 'author': 'Orwell', 'year': 1949},
    {'title': 'Animal Farm', 'author': 'Orwell', 'year': 1945},
    {'title': 'The Silmarillion', 'author': 'Tolkien', 'year': 1977},
    {'title': 'Brave New World', 'author': 'Huxley', 'year': 1932}
]

def myFunc(book):
    return (book['author'], book['year'])

books.sort(key=myFunc)
print(books)

[{'title': 'Brave New World', 'author': 'Huxley', 'year': 1932}, {'title': 'Animal Farm', 'author': 'Orwell', 'year': 1945}, {'title': '1984', 'author': 'Orwell', 'year': 1949}, {'title': 'The Hobbit', 'author': 'Tolkien', 'year': 1937}, {'title': 'The Silmarillion', 'author': 'Tolkien', 'year': 1977}]

In [216]:
students = [
    {'name': 'John', 'grade': 88, 'age': 20},
    {'name': 'Emma', 'grade': 95, 'age': 19},
    {'name': 'Sam', 'grade': 88, 'age': 22},
    {'name': 'Olivia', 'grade': 95, 'age': 21},
    {'name': 'Michael', 'grade': 88, 'age': 21},
    {'name': 'Newton', 'grade': 88, 'age': 21}
]

def myFunc(student):
    return (-student['grade'], student['age'], student['name'])

students.sort(key=myFunc)
print(students)

[{'name': 'Emma', 'grade': 95, 'age': 19}, {'name': 'Olivia', 'grade': 95, 'age': 21}, {'name': 'John', 'grade': 88, 'age': 20}, {'name': 'Michael', 'grade': 88, 'age': 21}, {'name': 'Newton', 'grade': 88, 'age': 21}, {'name': 'Sam', 'grade': 88, 'age': 22}]

In [234]:
employees = [
    {'name': 'Alice', 'department': 'Sales', 'score': 80},
    {'name': 'Bob', 'department': 'Engineering', 'score': 90},
    {'name': 'Charlie', 'department': 'HR', 'score': 88},
    {'name': 'Diana', 'department': 'Engineering', 'score': 85},
    {'name': 'Eve', 'department': 'Sales', 'score': 95}
]

priority = {
    'Engineering': 1,
    'Sales': 2,
    'HR': 3
}

def myFunc(employee):
    return(priority[employee['department']],-employee['score'])

employees.sort(key=myFunc)
print(employees)


favorite_animal = {
    'Liam': 'cat',
    'Sophia': 'dog',
    'Ethan': 'bird'
}

animal_meaning = {
    'cat': 'independence',
    'dog': 'loyalty',
    'bird': 'freedom'
}

print(animal_meaning[favorite_animal['Sophia']])

employee_role = {
    'Ava': 'Manager',
    'Noah': 'Intern',
    'Mia': 'Engineer',
    'Liam': 'Manager'
}

salary_level = {
    'Intern': 1,
    'Engineer': 3,
    'Manager': 4
}

print(salary_level[employee_role['Mia']])

employees = [
    {'name': 'Anna', 'department': 'Marketing', 'job': 'Executive'},
    {'name': 'Brian', 'department': 'Engineering', 'job': 'Engineer'},
    {'name': 'Clara', 'department': 'Engineering', 'job': 'Manager'},
    {'name': 'David', 'department': 'Engineering', 'job': 'Manager'},
    {'name': 'Eva', 'department': 'HR', 'job': 'Intern'}
]

department_priority = {
    'Engineering': 0,
    'Marketing': 1,
    'HR': 2
}

salary_level = {
    'Intern': 1,
    'Executive': 2,
    'Engineer': 3,
    'Manager': 4
}

def sortEmployees(employee):
    return(department_priority[employee['department']], -salary_level[employee['job']], employee['name'])

employees.sort(key=sortEmployees)
print(employees)

[{'name': 'Bob', 'department': 'Engineering', 'score': 90}, {'name': 'Diana', 'department': 'Engineering', 'score': 85}, {'name': 'Eve', 'department': 'Sales', 'score': 95}, {'name': 'Alice', 'department': 'Sales', 'score': 80}, {'name': 'Charlie', 'department': 'HR', 'score': 88}]
loyalty
3
[{'name': 'Clara', 'department': 'Engineering', 'job': 'Manager'}, {'name': 'David', 'department': 'Engineering', 'job': 'Manager'}, {'name': 'Brian', 'department': 'Engineering', 'job': 'Engineer'}, {'name': 'Anna', 'department': 'Marketing', 'job': 'Executive'}, {'name': 'Eva', 'department': 'HR', 'job': 'Intern'}]